.card {
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 22px #5857573b;
    width: 375px;
    transition: .2s ease;
    cursor: pointer;
    color: #151515;

}
.card:hover {
    transform: translateZ(140px);
}
.card .active-image {
    width: 100%;
}
.card .other-images {
    display: flex;
    gap: 7px;
    padding: 7px 0;
    max-height: 0;
    transition: .4s ease;
}
.card .other-images.shown {
    max-height: 66px;
}
.card .other-images img {
    width: 80px;
    border-radius: 5px;
}
.card-header {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
.card-header h2 {
    font-size: 17px;
}
.card-type,
.card-color {
    display: block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.705);
    margin: 4px 0;
}
.card-button {
    font-weight: 500;
    border: 0;
    margin-top: 15px;
    border-radius: 3px;
    background-color: rgb(165, 165, 253);
    padding: 8px 15px;
    cursor: pointer;
    color: #fff;
}
.card-button:hover {
    background-color: rgb(72, 72, 245);
}

